{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
        <div class="page-header">
            <h1>User Home</h1>
        </div>
        <div class="row" style="padding-top:1em">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('app_products') }}">Products</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/cart">Cart</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_orders') }}">Orders</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_user_profile') }}">Profile</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_user_logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
            <div class="page-header">
                <h1>Error</h1>
            </div>
            <div class="well">
                <h4><i>Please login to access this page</i></h4>
            </div>
        {% endif %}
    </div>
{% endblock %}
