{% extends 'base.html.twig' %}

{% block title %}Товар не найден{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Product not found</h1>
        </div>
    </div>
{% endblock %}
